@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 271 80% 15%;
    --card: 240 67% 94%;
    --card-foreground: 271 80% 15%;
    --popover: 240 67% 94%;
    --popover-foreground: 271 80% 15%;
    --primary: 271 87% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 20% 90%;
    --secondary-foreground: 271 80% 15%;
    --muted: 240 20% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 181 100% 74%;
    --accent-foreground: 271 80% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 88%;
    --input: 240 20% 96%;
    --ring: 271 87% 56%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 10%;
    --foreground: 240 10% 95%;
    --card: 240 10% 12%;
    --card-foreground: 240 10% 95%;
    --popover: 240 10% 10%;
    --popover-foreground: 240 10% 95%;
    --primary: 271 87% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 18%;
    --muted-foreground: 240 5% 65%;
    --accent: 181 100% 74%;
    --accent-foreground: 240 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 18%;
    --input: 240 5% 18%;
    --ring: 271 87% 56%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
